<p id="notice"><%= notice %></p>

<h1>Listing Investment Funds</h1>

<div row>
	<div class="small-12 columns">
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data de Compra</th>
      <th>Taxa Adm</th>
      <th>Gross Profit</th>
      <th>Liquid Profit</th>
      <th>Observações</th>
      <th>Inicío do Fundo</th>
      <th>Valor da Cota</th>
      <th>Capital Investido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investment_funds.each do |investment_fund| %>
      <tr>
        <td><%= investment_fund.name %></td>
        <td><%= investment_fund.buyDate %></td>
        <td><%= investment_fund.admTax %></td>
        <td><%= investment_fund.gross_profit %></td>
        <td><%= investment_fund.liquid_profit %></td>
        <td><%= investment_fund.aditionalInfo %></td>
        <td><%= investment_fund.fundBegin %></td>
        <td><%= investment_fund.shareValue %></td>
        <td><%= investment_fund.capital %></td>
        
        <td><%= link_to 'Show', investment_fund %></td>
        <td><%= link_to 'Edit', edit_investment_fund_path(investment_fund) %></td>
        <td><%= link_to 'Destroy', investment_fund, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investment fund', new_investment_fund_path %>
