<p id="notice"><%= notice %></p>

<p>
  <strong>Exchange type:</strong>
  <%= @exchange.exchange_type %>
</p>

<p>
  <strong>Inicial exchange investment:</strong>
  <%= @exchange.initial_income %>
</p>

<p>
  <strong>Buy date:</strong>
  <%= @exchange.created_at %>
</p>

<p>
  <strong>Discount:</strong>
  <%= discount %>
</p>




<%= link_to 'Edit', edit_exchange_path(@exchange),  class: 'button info tiny' %> |
<%= link_to 'Back', exchanges_path,  class: 'button info tiny' %>
