<%= form_for(@stock) do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% @stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :initial_income %><br>
    <%= f.number_field :initial_income, :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :current_income %><br>
    <%= f.number_field :current_income, :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :buy_date %><br>
    <%= f.datetime_select :buy_date %>
  </div>
  <div class="field">
    <%= f.label :buy_tax %><br>
    <%= f.number_field :buy_tax, :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :Wallet_id %><br>
    <%= f.number_field :Wallet_id %>
  </div>
  <div class="field">
    <%= f.label :closing_price %><br>
    <%= f.number_field :closing_price, :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :closing_date %><br>
    <%= f.date_select :closing_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
