<p id="notice"><%= notice %></p>

<p>
  <strong>Buydate:</strong>
  <%= @stock.buyDate %>
</p>

<p>
  <strong>Buytax:</strong>
  <%= @stock.buyTax %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @stock.amount %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
