<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stock.name %>
</p>

<p>
  <strong>Initial Income:</strong>
  <%= @stock.initial_income %>
</p>

<p>
  <strong>Current Income</strong>
  <%= @stock.current_income %>
</p>

<p>
  <strong>Buy date:</strong>
  <%= @stock.buy_date %>
</p>

<p>
  <strong>Buy tax:</strong>
  <%= @stock.buy_tax %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @stock.amount %>
</p>

<p>
  <strong>Wallet:</strong>
  <%= @stock.Wallet.name %>
</p>

<p>
  <strong>Gross income:</strong>
  <%= gross_income %>
</p>

<p>
  <strong>Liquid income:</strong>
  <%= liquid_income %>
</p>

<p>
  <strong>Brokerage:</strong>
  <%= brokerage %>
</p>
<p>
  <strong>Emoluments:</strong>
  <%= emoluments %>
</p>
<p>
  <strong>Custody:</strong>
  <%= custody %>
</p>
<p>
  <strong>Income Tax:</strong>
  <%= income_tax %>
</p>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
