<div class="row" > 
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stock.name %>
</p>

<p>
  <strong>Initial Income:</strong>
  <%= @stock.initial_income %>
</p>

<p>
  <strong>Current Income</strong>
  <%= @stock.current_income %>
</p>

<p>
  <strong>Buy date:</strong>
  <%= @stock.buy_date %>
</p>

<p>
  <strong>Buy tax:</strong>
  <%= @stock.buy_tax %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @stock.amount %>
</p>

<p>
  <strong>Wallet:</strong>
  <%= @stock.Wallet.name %>
</p>

<p>
  <strong>Closing price:</strong>
  <%= @stock.closing_price %>
</p>

<p>
  <strong>Closing:</strong>
  <%= @stock.closing_date %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock), class: 'button info tiny' %> |
<%= link_to 'Back', stocks_path, class: 'button info tiny' %>

<br>
<p>
<strong>See the moviment of your Stock here ! </strong>
</p>
<%= link_to 'Moviment', stocks_movimentation_stock_path(@stock), class: 'button success small'   %>
