<p id="notice"><%= notice %></p>
<div class="row" > 

<h1> <%= @stock2.name%> Movimentation</h1>

<p>
 <strong>Gross Income:</strong>
 <%= @stock2.gross_income.round(2) %>  R$ 
</p>

<p>
  <strong>Liquid Income:</strong>
 <%= @stock2.liquid_income.round(2) %> R$
</p>

<table>
  <thead>
    <tr>
      <th>Brokerage</th>
      <th>Emoluments</th>
      <th>Custody</th>
      <th>Income Tax</th>
    </tr>
  </thead>  
  <tbody>
      <tr>
        <td><%= @stock2.brokerage.round(2)  %> R$</td>
        <td><%= @stock2.emoluments.round(2) %> R$</td>
        <td><%= @stock2.custody.round(2)  %> R$</td>
        <td><%= @stock2.income_tax.round(2) %> R$</td>
      </tr>     
  </tbody>
</table>
