<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wallet.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wallet.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @wallet.user.email %>
</p>


<%= link_to  'Stock Movement', stocks_list_stocks_path %>
<%= link_to 'Edit', edit_wallet_path(@wallet) %> |
<%= link_to 'Back', wallets_path %>
