<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @asset.name %>
</p>

<p>
  <strong>Income:</strong>
  <%= @asset.income %>
</p>

<p>
  <strong>Efficiency:</strong>
  <%= @asset.efficiency %>
</p>

<p>
  <strong>Wallet:</strong>
  <%= @asset.wallet %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
